@import "_colors.scss";

.aboutme {
  background-color: $color5;
  margin-top: 2rem;
}

.aboutcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;

  h1 {
    padding: 0.5em;
  }
}

.profilepic {
  max-width: 50%;
  height: auto;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.aboutmetext {
  text-align: center;
  margin: 1.5rem;
  a {
    color: $color2;
    &:hover {
      text-decoration: none;
    }
  }
}

@media (min-width: 768px) {
  .profilepic {
    max-width: 50%;
  }
  .aboutmetext {
    font-size: 1.2rem;
  }
}

@media (min-width: 960px) {
  .aboutcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .picdiv {
    width: 40%;
  }
  .profilepic {
    max-width: 80%;
  }
  .aboutmetext {
    font-size: 1.4rem;
    width: 60%;
  }
  @media (min-width: 1200px) {
    .profilepic {
      max-width: 65%;
    }
    .aboutmetext {
      font-size: 1.4rem;
      width: 70%;
    }
  }
}