@import "_colors.scss";

.findme {
  padding-bottom: 2rem;
  background-color: $color4;
  h1 {
    padding: 2rem;
    color: $color2;
  }

  .findmeicons {
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 2rem;

    @media (min-width: 768px) {
      max-width: 60%
    }

    i {
      color: $color3;
      font-size: 3rem;
      align-items: center;
      &:hover {
        color: $color2;
      }
      @media (min-width: 768px) {
        font-size: 4rem;
      }
    }
  }
}
