nav {
    background-color: $color1;
    padding: 1em;
    display: flex;
    justify-content: space-between;

    #logobox {
        position: relative;
        width: 15%;
        max-height: 3em;
        flex-grow: 0.1;
        // margin: 0;
        img {
            max-height: 3em;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
        @media (max-width: 400px) {
            position: relative;
            width: 15%;
            max-height: 2.5em;
    
            img {
                max-height: 2.5em;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
        }
    }

    a {
        padding: 0.25em;
        // flex-grow: 1;
        @media (max-width: 400px) {
            padding: 0.15em;
            font-size: 0.9em;
        }
    }
}