@import '_colors.scss';


.nicetomeetyou {
    width: 100%;
    background-color: $color5;
    height: 25vh;
    flex-direction: column;
    justify-content: center;
    h1 {
        padding: 1em;
        margin-top: 0;
    }
}

p {
    text-align: center;
}