@import '_colors.scss';


.nicetomeetyou {
    background-color: $color1;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0.5rem;
    h1 {
        padding: 1em;
        margin-top: 0;
        color: $color5;
    }
    p {
        text-align: center;
        color: $color5;
    }
    a {
        color: $color4;
        &:hover {
          text-decoration: none;
        }
    }
}

