@import "_colors.scss";

.techicons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 5rem;
  width: 50%;

  div {
    align-items: center;
    justify-content: space-between;
    margin: auto;
  }

  i {
    padding: 1rem;
    &:hover {
      color: $color2;
    }
  }
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color5;
}
