@import "_colors.scss";

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color5;
  padding-top: 2rem;
  padding-bottom: 2rem;
  
  .tools {

    @media (min-width: 768px) {
      display: flex;
      p {
        font-size: 1.3rem;
      }
    }
    
    .toolspast, .toolsfuture {
      padding: 2rem;
      h4 {
        font-weight: 600;
      }
    }
    .toolsfuture {
      text-align: right;
    }
  }
}

.techicons {
  display: none;
  
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    font-size: 5rem;
    width: 90%;
  }
  
  .mainrow {
    align-items: center;
    justify-content: space-between;
    margin: auto;
    align-content: center;

    i {
      padding: 1rem;
      &:hover {
        color: $color2;
      }
    }
  }
  .secondaryrow {
    align-items: center;
    justify-content: space-between;
    margin: auto;
    i {
      &:hover {
        color: $color2;
      }
      @media (min-width: 768px) {
        font-size: 3rem;
        padding: 0.6rem;
      }
      @media (min-width: 960px) {
        font-size: 4rem;
        padding: 0.7rem;
      }
    }
  }
}


