/* Coolors Exported Palette - coolors.co/3c3744-002fa7-3066be-b4c5e4-fbfff1 */

/* HSL */
$color1: hsla(263%, 11%, 24%, 1);
$color2: hsla(223%, 100%, 33%, 1);
$color3: hsla(217%, 60%, 47%, 1);
$color4: hsla(219%, 47%, 80%, 1);
$color5: hsla(77%, 100%, 97%, 1);

/* RGB */
$color1: rgba(60, 55, 68, 1);
$color2: rgba(0, 47, 167, 1);
$color3: rgba(48, 102, 190, 1);
$color4: rgba(180, 197, 228, 1);
$color5: rgba(251, 255, 241, 1);

$onyx: $color1;
$ikb: $color2;
$cerulean: $color3;
$lightsteel: $color4;
$ivory: $color5;

.onyx {
    color: $color1;
}

.ikb {
    color: $color2;
}

.cerulean {
    color: $color3;
}

.lightsteel {
    color: $color4;
}

.ivory {
    color: $color5;
}