@import 'colors.scss';

* {
    box-sizing: border-box;
}

a {
    color: $color5;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

h1 {
    text-align: center;
    padding-top: 1em;
}

html, body {
    font-family: "Alegreya Sans", sans-serif;
    width: 100pw;
    background-color: $color5;
    // height: 100vh;
    padding: 0;
    margin: 0;
}

nav {
    background-color: $color1;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    #logobox {
        position: relative;
        width: 15%;
        max-height: 2em;
        flex-grow: 0;
        // margin: 0;
        img {
            max-height: 3em;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
    }
    a {
        padding: 0.25em;
        // flex-grow: 1;
    }
}

.welcome {
    background-color: $color4;
    font-size: 1em;
    text-align: center;
    flex-direction: column;
    padding: 1em;
    font-size: 2em;
    margin: 1em 0em; //maybe I don't want this margin
    h1 {
        color: $color3;
        margin: 0;
        padding-top: 0;
    }
    h2 {
        color: $color3;
        margin: 0;
        font-weight: 400;
    }
}

.tagline {
    width: 100%;
    background-color: $color5;
    text-align: center;
    p {
        color: $color2;
        font-size: 1.5em;
    }
}

.process {
    width: 100%;
    background-color: $color1;
    height: 40vh;
    h1 {
        color: $color5;
    }
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color5;
    div {
        display: flex;
        position: relative;
        background-color: $color4;
        margin: 5px 120px;
    }
    .skill {
        width: 5em;
        background-color: black;
        font-size: 2em;
        color: white;
        padding-left: .3em;
    }
    .bar {
        background-color: $color2;
        width: 50vw;
        flex-basis: 0;
    }
    .padding {
        flex-basis: 0;
    }
    .number {
    background-color: $color4;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: .5em;
    }
    .htmlbar {
        .bar {
            flex-grow: 80;
        }
        .padding {
            flex-grow: 20;
        }
    }
    .cssbar {
        .bar {
            flex-grow: 80;
        }
        .padding {
            flex-grow: 20;
        }
    }
    .jsbar {
        .bar {
            flex-grow: 70;
        }
        .padding {
            flex-grow: 30;
        }
    }
    .reactbar {
        .bar {
            flex-grow: 60;
        }
        .padding {
            flex-grow: 40;
        }
    }
    .jquerybar {
        .bar {
            flex-grow: 70;
        }
        .padding {
            flex-grow: 30;
        }
    }
    .phpbar {
        .bar {
            flex-grow: 60;
        }
        .padding {
            flex-grow: 40;
        }
    }
    .laravelbar {
        .bar {
            flex-grow: 60;
        }
        .padding {
            flex-grow: 40;
        }
    }
    .uxbar {
        .bar {
            flex-grow: 90;
        }
        .padding {
            flex-grow: 10;
        }
    }
}
// for each bar in each skill: flex-grow: 80; <- where 80 is the percentage
// for each padding in each skill: flex-grow: remaining