@import '_aboutme.scss';
@import '_colors.scss';
@import '_contactme.scss';
@import '_findme.scss';
@import '_logobox.scss';
@import '_myportfolio.scss';
@import '_nicetomeetyou.scss';
@import '_process.scss';
@import '_skills.scss';
@import '_welcome.scss';

* {
    box-sizing: border-box;
}

a {
    color: $color5;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

h1 {
    text-align: center;
}

html, body {
    font-family: "Alegreya Sans", sans-serif;
    width: 100pw;
    background-color: $color5;
    // height: 100vh;
    padding: 0;
    margin: 0;
}

.tagline {
    width: 100%;
    background-color: $color5;
    text-align: center;
    p {
        color: $color2;
        font-size: 1.5em;
    }

    @media (max-width: 768px) {
        p {
            font-size: 1.2rem;
        }
    }
}